# Configuration example

# Application
APP_PORT=8080

# Database
DB_HOST=db
DB_PORT=5433
DB_NAME=db
DB_USER=docker
DB_PASSWORD=docker

# Demo/Seed Mode
SEED_DATA=true

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@martialhub.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050