<?php


// Configuration example

define('USERNAME', getenv('DB_USER') ?: 'docker');
define('PASSWORD', getenv('DB_PASSWORD') ?: 'docker');
define('HOST', getenv('DB_HOST') ?: 'db');
define('DATABASE', getenv('DB_NAME') ?: 'db');