.profile-main-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.profile-section-title {
    font-size: 1.375rem;
    font-weight: 700;
    padding: 1rem 1rem 0.75rem;
    color: var(--text-dark);
}

.fighter-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.875rem 1rem 2.5rem 1rem;
}

.fighter-photo {
    width: 31.25rem;
    height: 17.5rem;
    border-radius: 0.5rem;
    object-fit: cover;
    background-color: #222;
    background-image: url('https://images.unsplash.com/photo-1599459183200-59c2633753f7?q=80&w=1000');
    background-size: cover;
    background-position: center;
}

.fighter-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    min-width: 25rem;
    height: 17.5rem;
}

.fighter-name {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: -0.125rem;
    line-height: 3.75rem;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.fighter-club-name {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-dark);
    font-weight: 400;
    text-transform: uppercase;
}

.record-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.25rem;
    background-color: var(--primary-red);
    border-radius: 8px;
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
}

.profile-tabs {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 1rem;
    border-bottom: 0.0625rem solid #E8D1D1;
    margin-bottom: 0.75rem;
}

.p-tab {
    padding: 1rem 0 0.8125rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--nav-black);
    text-decoration: none;
    border-bottom: 0.1875rem solid var(--nav-black);
    transition: 0.2s;
    flex-shrink: 0;
}

.p-tab.active {
    color: var(--primary-red);
    border-bottom: 0.1875rem solid var(--primary-red);
}

.p-tab:hover:not(.active) {
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.7);
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 1.5rem;
    padding: 0 1rem;
    margin-top: 0.75rem;
}

.stat-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-top: 0.0625rem solid var(--border-gray);
    flex: 1;
}

.stat-name {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--nav-black);
    margin-bottom: 0.375rem;
    white-space: nowrap;
}

.stat-number {
    font-size: 0.875rem;
    color: var(--text-gray);
}

.table-container {
    padding: 0.75rem 1rem;
}

.fighter-table-wrapper {
    border: 0.0625rem solid var(--border-pink);
    border-radius: 0.5rem;
    overflow: hidden;
}

.fighter-table {
    width: 100%;
    border-collapse: collapse; 
    background-color: white;
}

.fighter-table th {
    text-align: left;
    padding: 0.75rem 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--text-dark);
}

.fighter-table td {
    padding: 0.75rem 1rem;
    border-top: 0.0625rem solid var(--border-gray);
    font-size: 0.875rem;
    color: var(--text-dark);
}

.result-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    min-width: 5.25rem;
    border: 0.09375rem solid rgba(0,0,0,0.05);
}

.win-bg { background-color: rgba(116, 228, 110, 1); }
.loss-bg { background-color: rgba(228, 110, 110, 1); }
.draw-bg { background-color: rgba(242, 232, 232, 1); }
.text-gray { color: var(--text-gray) }