:root {
    --gold: #FFD700;
    --silver: #C0C0C0;
    --bronze: #CD7F32;
}

.hero-banner {
    height: 220px;
    background-color: #333;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1555597673-b21d5c935865?q=80&w=1600);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin: 0 1rem 16px 1rem;
    padding: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-banner h1 {
    color: var(--white);
    font-family: var(--font-main);
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    text-align: center;
}

.rankings-tabs {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    border-bottom: 0.0625rem solid var(--border-gray);
    margin-bottom: 0.75rem;
}

.r-tab {
    padding: 1rem 0 0.8125rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
    border-bottom: 0.1875rem solid var(--text-dark);
    text-transform: uppercase;
    transition: 0.2s;
    flex-shrink: 0;
}

.r-tab:hover:not(.active) {
    border-bottom-color: rgba(0, 0, 0, 0.7);
}

.r-tab.active {
    color: var(--primary-red);
    border-bottom-color: var(--primary-red);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 16px 0;
    padding: 0 1rem;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--tab-bg);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    cursor: pointer;
}

.table-responsive {
    overflow-x: auto;
    border: 1px solid var(--border-gray);
    border-radius: 8px;
    background: var(--white);
    margin: 0 1rem;
}

.ranking-table {
    width: 100%;
    border-collapse: collapse;
}

.ranking-table th, 
.ranking-table td {
    padding: 12px 16px;
    text-align: left;
    font-size: 14px;
    color: var(--text-dark);
}

.ranking-table th {
    font-weight: 700;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-gray);
}

.ranking-table td { 
    border-top: 1px solid var(--border-gray); 
}

.rank-1 { background-color: var(--gold); }
.rank-2 { background-color: var(--silver); }
.rank-3 { background-color: var(--bronze); }

.rank-1 td, 
.rank-2 td, 
.rank-3 td,
.rank-other td { 
    font-weight: 400; 
    color: var(--text-dark) !important; 
    border-top: 1px solid rgba(0,0,0,0.1);
}